<!DOCTYPE html>
<html lang="pt-BR" 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<link rel="icon" href="/img/favicon.png">
	
	<!--	CSS		-->
	<link rel="stylesheet" th:href="@{/style/layout/index.css}">

	<title></title>
</head>

<body>
	
	<header>
		<nav>
			
		</nav>
	</header>

	<div>
		<section layout:fragment="corpo">

		</section>
	</div>

	<footer>
		<div>

		</div>
	</footer>

</body>

</html>