@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

		* {
			margin: 0px;
			padding: 5px;
			font-family: 'Ubuntu';
		}

		body {
			background-color: azure;
		}

		a {
			text-decoration: none;
			font-size: 14pt;
			padding: 10px;
			margin: 10px;
		}

		a:hover {
			color: black;
		}