@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

		* {
			margin: 0px;
			padding: 5px;
			font-family: 'Ubuntu';
		}

		body {
			background-color: azure;
		}

		a {
			text-decoration: none;
			font-size: 14pt;
			padding: 10px;
		}

		a:hover {
			color: black;
		}
		
		.btn {
			border: 2px solid transparent;
			border-radius: 4px;
			padding: 7px;
			font-size: 11pt;
			font-weight: bold;
		}
		
		.btn:hover {
			border: 2px solid black;
			cursor: pointer;
		}
		
		.btn-conf {
			background-color: green;
		}
		
		.btn-cancel {
			background-color: red;
		}
		
		.btn-reset {
			background-color: darkorange;
		}
		
		.table {
			border: 1px solid slategray;
			border-collapse: collapse
		}
		
		.tr {
			border: 1px solid slategray	;
			}
		
		.td {
			border: 1px solid slategray	;
			text-align: center;
		}