<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>Home</title>

	<style>
		@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

		* {
			margin: 0px;
			padding: 5px;
			font-family: 'Ubuntu';
		}

		body {
			background-color: azure;
		}
		
		a {
			text-decoration: none;
			font-size: 14pt;
			padding: 10px;
			margin: 10px;
		}
		
		a:hover {
			color: black;
		}
		
	</style>
</head>

<body>
	<h1 style="text-align: center;">CRUD Usuário</h1>

	<a href="/usuarios/cadastro">Cadastrar usuário</a>
	<br />
	<br/>
	<a href="/usuarios/busca">Buscar usuário</a>

</body>

</html>